<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.felis.resource.mapper.PictureMapper">
    <resultMap id="PictureMapper" type="com.felis.resource.entity.Picture">
        <id property="id" column="id"/>
        <result property="md5" column="md5"/>
        <result property="createdTime" column="created_time"/>
        <result property="filename" column="filename"/>
        <result property="suffix" column="suffix"/>
    </resultMap>

    <insert id="insert" parameterType="com.felis.resource.entity.Picture">
        insert into re_picture (md5,created_time,filename,suffix) values(#{md5},now(),#{filename},#{suffix})
    </insert>

    <select id="selectByHash" parameterType="string" resultMap="PictureMapper">
        select * from re_picture where md5=#{md5}
    </select>




</mapper>